.header{
    nav{
        position: relative;
        background-color: $White;
        padding-top: 1.067rem;
        padding-bottom: 1.067rem;
    }
    &__logo{
        width: 8.8em;
    }
    &.open{

        .overlay {
            display: block;
            animation: fade-in 300ms ease-in-out forwards;
        }

        .header__toggle{
             >span {
                 transform-origin: 5px 1px;
                 transition: 200ms ease-in-out;
                 &:first-child {
                     transform: rotate(45deg);
                 }

                 &:nth-child(2) {
                     opacity: 0;
                 }

                 &:last-child {

                     transform: rotate(-45deg);
                 }
             }
             }
        }

    .overlay {
        z-index: 1000;
        opacity: 0;
        top: 3.82rem;
        right: 0;
        left: 0;
        bottom: 0;
        position: fixed;
        padding-top: 10px;
        background-image: linear-gradient($Dark-Blue, transparent);
        height: 100vh;
    }
    .no_display{
        display: none;
    }

            
    &__toggle {
        >span{
            display: block;
            height: 0.13em;
            width: 1.6em;
            background-color: $Dark-Blue;
            &:first-child{
                z-index: 100000;
            }
            &:not(:last-child){
                margin-bottom: 0.25rem;
            }
            
         }
         
    }
    &__links {
        transition: linear 0.3s ;
        a{
            text-decoration: none;
            color: $Grayish-Blue;
            font-size: $font-sm;
            margin-right: 2em;
            position: relative;

            &:hover{
                color: $Dark-Blue;
               
            }
            &::after{
                content: "";
                background: linear-gradient(to right, $Cyan, $Green);
                position: absolute;
                display: inline;
                height: .185em;
                width: 100%;
                left: 0;
                bottom: -50%;
                opacity: 0;
                transition: 300ms ease-in-out;
            }

            &:hover::after{
                opacity: 1;
                content: "";
                background: linear-gradient(to right, $Cyan, $Green);
                position: absolute;
                display: inline;
                height: .185em;
                width: 100%;
                left: 0;
                bottom: -50%;
            }
        }
        
    }
    
    &__menu {
        z-index: 1000;
        background: $White;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        margin-top: 1.5rem;
        padding: 1.625rem;
        position: absolute;
        border-radius: 5px;
        
        a{
            color: $Dark-Blue;
            padding: 0.625rem;
            text-decoration: none;
            display: block;
            text-align: center;
        }
    }
}

.button {
    display: inline-block;
     padding: 0.875rem 1.8rem;
     text-decoration: none;
     border-radius: 50px;
     cursor: pointer;
     border: none;
     color: white;
     font-weight: bold;
    background: linear-gradient(to right, $Cyan, $Green);
    &:hover{
        background: linear-gradient(to left, $Cyan, $Green);
    }
    &:active{
        opacity: 0.75;
    }
 }

.hide-for-mobile{
    @media (max-width: 59.99em) {
        display: none;
    }
}